.banner-tours {
    max-width: 980px;
    width: 75%;
    height: 200px;
    background-image: 
        linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), 
        url(../images/tour/tours-header.jpg);
    @include backg-center();
    color: white;
    margin: $center;
    margin-top: 50px;
    text-align: center;
    padding-top: 65px;
    
    .tours-title {
        font-size: 60px;
        font-family: ProximaNovaExCnThin;
        letter-spacing: 5px;
    }
}